language: java
jdk:
  - oraclejdk8

addons:
  sonarqube:
    organization: agebhar1-github
    token: $SONAR_TOKEN
    branches:
      - brew

script:
  - ./mvnw clean test org.owasp:dependency-check-maven:check jacoco:report sonar:sonar
